<div class="d-flex align-items-center" *ngIf="(user$ | async) as user; else loading">
  <div class="tui-container_adaptive tui-container">
    <div class="justify-content-between d-flex tui-space_top-10">
      <a
        routerLink="/"
        tuiIconButton
        icon="tuiIconArrowLeftLarge"
        type="button"
        [tuiHint]="tooltip"
        appearance="flat"
        class="tui-space_right-3 tui-space_bottom-3"
      >
      </a>
      <ng-template #tooltip>
        <div>Back</div>
      </ng-template>
    </div>

    <tui-island>
      <div class="tui-island__content">
        <div class="d-flex tui-space_vertical-3">
          <tui-avatar
            text="{{user.username}}"
            [autoColor]="true"
            size="m"
          ></tui-avatar>
          <h4 class="tui-text_h4 tui-space_vertical-0 tui-space_horizontal-3 align-self-center">@{{user.username}}</h4>

        </div>
        <div class="tui-island__figure tui-space_vertical-3" *ngIf="other === false">
          <a
            size="s"
            routerLink="./Settings"
            tuiIconButton
            icon="tuiIconSettingsLarge"
            type="button"
            [tuiHint]="settings_tooltip"
            appearance="flat"
            class="tui-space_right-3 tui-space_bottom-3"
          >
            <ng-template #settings_tooltip>
              <div>Settings</div>
            </ng-template>
          </a>
        </div>
      </div>
    </tui-island>

    <tui-island class="tui-space_vertical-3">
      <div *ngIf="other">
        <button
          iconRight="tuiIconCompassLarge"
          routerLink="/Profile/{{user._id}}"
          size="m"
          tuiButton
          type="button"
          appearance="primary"
          class="tui-space_right-6"
        >
          Overview
        </button>

        <button
          tuiButton
          data-cy="profile-projects"
          routerLink="/Profile/{{user._id}}/Projects"
          iconRight="tuiIconBriefcaseLarge"
          size="m"
          type="button"
          appearance="primary"
          class="tui-space_right-6"
        >
          Projects
        </button>

        <button
          tuiButton
          iconRight="tuiIconHeartLarge"
          routerLink="/Profile/{{user._id}}/Liked"
          size="m"
          type="button"
          appearance="primary"
          class="tui-space_right-6"
        >
          Liked
        </button>
      </div>
      <div *ngIf="!other">
        <button
          iconRight="tuiIconCompassLarge"
          routerLink="/Profile"
          size="m"
          tuiButton
          type="button"
          appearance="primary"
          class="tui-space_right-6"
        >
          Overview
        </button>

        <button
          tuiButton
          routerLink="/Profile/Projects"
          iconRight="tuiIconBriefcaseLarge"
          size="m"
          type="button"
          appearance="primary"
          class="tui-space_right-6"
        >
          Projects
        </button>

        <button
          tuiButton
          iconRight="tuiIconHeartLarge"
          routerLink="/Profile/Liked"
          size="m"
          type="button"
          appearance="primary"
          class="tui-space_right-6"
        >
          Liked
        </button>

        <button
          tuiButton
          iconRight="tuiIconSendLarge"
          routerLink="/Profile/Invites"
          size="m"
          type="button"
          appearance="primary"
          class="tui-space_right-6"
        >
          Invites
        </button>
      </div>
    </tui-island>

    <div class="tui-space_vertical-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<ng-template #loading>
  <div class="d-flex align-items-center">
    <div class="tui-container_adaptive tui-container">
      <div class="justify-content-between d-flex tui-space_top-10">
        <a
          routerLink="/"
          tuiIconButton
          icon="tuiIconArrowLeftLarge"
          type="button"
          [tuiHint]="tooltip"
          appearance="flat"
          class="tui-space_right-3 tui-space_bottom-3"
        >
        </a>
        <ng-template #tooltip>
          <div>Back</div>
        </ng-template>
      </div>
      <tui-island>
        <div class="tui-island__content">
          <div class="d-flex tui-space_vertical-3">
            <tui-avatar
              [class.tui-skeleton]="true"
              text="profile"
              [autoColor]="true"
              size="m"
            ></tui-avatar>
            <h4 class="tui-text_h4 tui-space_vertical-0 tui-space_horizontal-3 align-self-center">@Profile</h4>

          </div>
        </div>
      </tui-island>
      <tui-island class="tui-space_vertical-3">
        <div>
          <button
            [class.tui-skeleton]="true"
            size="m"
            tuiButton
            type="button"
            appearance="primary"
            class="tui-space_right-6"
          >
            Overview
          </button>

          <button
            [class.tui-skeleton]="true"
            tuiButton
            size="m"
            type="button"
            appearance="primary"
            class="tui-space_right-6"
          >
            Projects
          </button>

          <button
            [class.tui-skeleton]="true"
            tuiButton
            size="m"
            type="button"
            appearance="primary"
            class="tui-space_right-6"
          >
            Liked
          </button>

          <button
            [class.tui-skeleton]="true"
            tuiButton
            size="m"
            type="button"
            appearance="primary"
            class="tui-space_right-6"
          >
            Invites
          </button>
        </div>
      </tui-island>
      <div class="tui-space_vertical-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</ng-template>

