<section class="min-vh-100 d-flex align-items-center">
  <div class="tui-container tui-container_adaptive">
    <div class="d-flex justify-content-between py-5">
      <h3 class="tui-text_h3">
        Projects
      </h3>
      <a
        *ngIf="loggedIn"
        routerLink="Create"
        tuiButton
        size="s"
        type="button"
        appearance="primary"

        class="tui-space_right-2 tui-space_bottom-2"
      >
        Create Project
      </a>
    </div>
    <div class="tui-row tui-row_adaptive" *ngIf="(projects$ | async) as projects; else loading">
      <div class="tui-col_xs-12 tui-col_md-6 tui-col_lg-4 mb-3" *ngFor="let p of projects; ">
        <triplo-project-card-list [project]="p">
        </triplo-project-card-list>
      </div>
    </div>
    <ng-template #loading>
      <div class="tui-row tui-row_adaptive">
        <div class="tui-col_xs-12 tui-col_md-6 tui-col_lg-4 mb-3" *ngFor="let n of [0,1,2,3,4,5]">
          <div class="tui-island">
            <a
              class="h-100"
              tuiIsland
              size="l"
              [hoverable]="true"
            >

              <h3 class="title title_size_s" [class.tui-skeleton]="true">project</h3>
              <p class="text" [class.tui-skeleton]="true">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam erat risus, faucibus commodo nulla vel,
                egestas pretium
              </p>

              <div class="tui-island__paragraph tui-island__category d-inline-flex" *ngFor="let n of [0,1,2,3,4]">
                <a class="tui-space_left-2" [class.tui-skeleton]="true" tuiTag [autoColor]="true" size="m"
                   [value]="(projects$ === null).toString()"></a>
              </div>
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</section>
