<div class="d-flex justify-content-between pb-3">
  <h2 *ngIf="userExists">Edit</h2>
  <h2 *ngIf="!userExists">Create</h2>
  <h2>
    <a (click)="close()"><i class="bi-x-square bi-x-bold"></i></a>
  </h2>
</div>

<form
  #userEditForm="ngForm"
  name="form"
  class="pb-3">

  <div class="form-group row my-2">
    <label class="col-4 col-form-label">Username</label>
    <div class="col-8">
      <input
        type="text"
        placeholder="Firstname"
        name="firstname"
        class="form-control"
        [(ngModel)]="user.username"
        #username="ngModel"
        minlength="3"
        required
        [ngClass]="{'is-invalid': username.invalid && username.touched}"
      />
      <div
        *ngIf="username.invalid && username.touched"
        class="invalid-feedback"
      >
        <div *ngIf="username.errors!['required']">
          Firstname is required
        </div>
        <div *ngIf="username.errors!['minlength']">
          Firstname must be 3 chars long.
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row my-2">
    <label class="col-4 col-form-label">Email</label>
    <div class="col-8">
      <input
        type="email"
        class="form-control"
        name="email"
        placeholder="Email"
        [(ngModel)]="user.email"
        #email="ngModel"
        email
        required
        [ngClass]="{'is-invalid': email.invalid && email.touched}"
      />
      <div
        *ngIf="email.invalid && email.touched"
        class="invalid-feedback"
      >
        <div *ngIf="email.errors!['required']">
          Email is required
        </div>
        <div *ngIf="email.errors!['email']">
          Email is not valid
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row my-2">
    <label class="col-4 col-form-label">Gender</label>
    <div class="col-8">
      <select
        [(ngModel)]="user.gender"
        name="Gender" class="form-select"
        required="required"
        #Gender="ngModel"
        [ngClass]="{'is-invalid': Gender.invalid && Gender.touched }"
      >
        <option [value]=""></option>
        <option [value]="gender.male">Male</option>
        <option [value]="gender.female">Female</option>
        <option [value]="gender.other">Other</option>
      </select>
      <div
        *ngIf="Gender.invalid && Gender.touched"
        class="invalid-feedback"
      >
        <div *ngIf="Gender.errors!['required']">
          Gender is required
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-4 col-8 d-flex justify-content-end">
      <button (click)="onSubmit()" name="submit" type="submit" class="btn btn-primary btn-get-started"
              [disabled]="!userEditForm.valid">
        Submit
      </button>
    </div>
  </div>
</form>
