<div class="min-vh-100 d-flex align-items-center" *ngIf="(project$ | async) as project">
  <div class="tui-container_adaptive tui-container">
    <div class="banner tui-space_vertical-10">
      <h3 class="tui-text_h3 tui-space_vertical-5">{{project.name}}</h3>
      <tui-tag value="Since {{project.created | date}}"></tui-tag>
    </div>
    <div class="description tui-space_vertical-10 w-50">
      <h6 class="tui-text_h6">Description</h6>
      <div class="tui-text_body-m">
        {{project.description}}
      </div>
    </div>
    <div class="tasks tui-space-vertical-10">
      <h5 class="tui-text_h6 tui-space_vertical-5">Tasks</h5>
      <div *ngIf="($tasks | async)!.length === 0" class="tui-text_body-m">This project currently doesn't have any tasks available.</div>
      <div *ngFor="let task of ($tasks | async)">
        <triplo-task-card [task]="task"></triplo-task-card>
      </div>
    </div>
    <div class="comments tui-space-vertical-10">
      <h5 class="tui-text_h6 tui-space_vertical-5">Comments</h5>
      <div class="comment-reaction tui-space_vertical-5">
        <triplo-comment-form (handleSubmit)="createComment($event)"></triplo-comment-form>
      </div>

      <div *ngFor="let comment of recentComments">
        <triplo-comment [comment]="comment"></triplo-comment>
      </div>

      <div *ngFor="let comment of (comments$ | async)">
        <triplo-comment [comment]="comment"></triplo-comment>
      </div>

      <div *ngIf="(comments$ | async)!.length === 0 && recentComments.length === 0" class="tui-text_body-m">No comments yet.</div>
    </div>
  </div>
</div>
