<div class="tui-space_vertical-16 d-flex align-items-center" *ngIf="(project$ | async) as project">
  <div class="tui-container_adaptive tui-container">
    <div class="justify-content-between d-flex">
      <a
        routerLink="../"
        tuiIconButton
        icon="tuiIconArrowLeftLarge"
        type="button"
        [tuiHint]="tooltip"
        appearance="flat"
        class="tui-space_right-3 tui-space_bottom-3"
      >
      </a>
      <ng-template #tooltip>
        <div>Back</div>
      </ng-template>
    </div>

    <tui-island>
      <div class="tui-island__content">
        <div class="d-flex tui-space_vertical-3">
          <h4 class="tui-text_h4 tui-space_vertical-0 tui-space_horizontal-3 align-self-center">{{project.name}}</h4>
          <div class="align-self-center">
            <tui-tag value="Since {{project.created | date:'yyyy'}}"></tui-tag>
          </div>
        </div>
        <div class="tui-island__figure tui-space_vertical-3" *ngIf="isOwner">
          <a
            size="s"
            routerLink="./Settings"
            tuiIconButton
            icon="tuiIconSettingsLarge"
            type="button"
            [tuiHint]="settings_tooltip"
            appearance="flat"
            class="tui-space_right-3 tui-space_bottom-3"
          >
            <ng-template #settings_tooltip>
              <div>Settings</div>
            </ng-template>
          </a>
        </div>
      </div>
    </tui-island>

    <tui-island class="tui-space_vertical-3">
      <div>
        <button
          iconRight="tuiIconCompassLarge"
          routerLink="/Projects/{{project._id}}"
          size="m"
          tuiButton
          type="button"
          appearance="primary"
          class="tui-space_right-6"
        >
          Overview
        </button>

        <button
          tuiButton
          iconRight="tuiIconBriefcaseLarge"
          routerLink="/Projects/{{project._id}}/Tasks"
          size="m"
          type="button"
          appearance="primary"
          class="tui-space_right-6"
        >
          Tasks
        </button>

        <button
          tuiButton
          iconRight="tuiIconUsersLarge"
          routerLink="/Projects/{{project._id}}/Members"
          size="m"
          type="button"
          appearance="primary"
          class="tui-space_right-6"
        >
          Members
        </button>

      </div>
    </tui-island>

    <div class="tui-space_vertical-4">
      <div class="like-group d-flex align-self-center" *ngIf="(like$ | async) as current_like">
        <div class="like-button d-flex">
          <a *ngIf="current_like.isPositive" tuiButton (click)="like(true, current_like)" size="s">
            <i class="bi-hand-thumbs-up-fill"></i>
          </a>
          <a *ngIf="!current_like.isPositive" tuiButton (click)="like(true, current_like)" size="s"
             class="tui-space_left-10">
            <i class="bi-hand-thumbs-up"></i>
          </a>
          <p
            class="tui-text_body-m tui-space_left-2 tui-space_vertical-0 align-self-center ">{{project.LikeCount}}</p>
        </div>
        <div class="dislike-button d-flex">
          <a tuiButton *ngIf="!current_like.isPositive" (click)="like(false, current_like)" size="s">
            <i class="bi-hand-thumbs-down-fill"></i>
          </a>
          <a tuiButton *ngIf="current_like.isPositive" (click)="like(false, current_like)" size="s"
             class="tui-space_left-10">
            <i class="bi-hand-thumbs-down"></i>
          </a>
          <p
            class="tui-text_body-m tui-space_left-2 tui-space_vertical-0 align-self-center ">{{project.DislikeCount}}
          </p>
        </div>
      </div>
      <div class="like-group d-flex align-self-center" *ngIf="(like$ | async) === null">
        <div class="like-button d-flex">
          <a tuiButton [disabled]="userId === null" (click)="like(true)" size="s">
            <i class="bi-hand-thumbs-up"></i>
          </a>
          <p
            class="tui-text_body-m tui-space_left-2 tui-space_vertical-0 align-self-center ">{{project.LikeCount}}</p>
        </div>
        <div class="dislike-button d-flex">
          <a tuiButton [disabled]="userId === null" class="tui-space_left-10" (click)="like(false)" size="s">
            <i class="bi-hand-thumbs-down"></i>
          </a>
          <p
            class="tui-text_body-m tui-space_left-2 tui-space_vertical-0 align-self-center ">{{project.DislikeCount}}</p>
        </div>
      </div>
    </div>

    <div class="tui-space_vertical-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
