<div class="tui-space_vertical-16 d-flex align-items-center" *ngIf="(project$ | async) as project">

  <div class="tui-container_adaptive tui-container">
    <div class="justify-content-between d-flex tui-space_top-16">
      <a
        size="s"
        routerLink="../"
        tuiIconButton
        icon="tuiIconArrowLeftLarge"
        type="button"
        [tuiHint]="tooltip"
        appearance="flat"
        class="tui-space_right-3 tui-space_bottom-3"
      >
      </a>
      <ng-template #tooltip>
        <div>Back</div>
      </ng-template>
    </div>
    <div class="banner tui-space_bottom-10 tui-space_top-3">
      <div class="d-flex justify-content-between py-3">
        <div>
          <div class="d-flex">
            <h3 class="tui-text_h3">{{project.name}}</h3>
            <a tuiMarkerIcon (click)="like(project._id)" mode="link" size="xs" src="tuiIconLikeLarge"
               class="tui-space_left-10"></a>
            <a tuiMarkerIcon (click)="dislike(project._id)" mode="link" size="xs" src="tuiIconDislikeLarge"
               class="tui-space_left-3"></a>
          </div>
          <tui-tag value="Since {{project.created | date}}"></tui-tag>
        </div>
        <div>
          <a routerLink="/Projects/{{project._id}}/Edit" tuiMarkerIcon mode="link" size="xs" src="tuiIconEditLarge"
             class="tui-space_right-2"></a>
          <a tuiMarkerIcon (click)="deleteProject()" mode="link" size="xs" src="tuiIconTrashLarge"
             class="tui-space_right-2"></a>
        </div>
      </div>
    </div>

    <div class="description tui-space_vertical-10 w-50">
      <h6 class="tui-text_h6">Description</h6>
      <div class="tui-text_body-m">
        {{project.description}}
      </div>
    </div>
    <div class="tasks tui-space-vertical-10">
      <div class="d-flex justify-content-between py-3">
        <h5 class="tui-text_h6">Tasks</h5>
        <a routerLink="Task/Create" tuiMarkerIcon mode="link" size="xs" src="tuiIconPlusLarge"
           class="tui-space_right-2"></a>
      </div>
      <div *ngIf="($tasks | async)?.length === 0" class="tui-text_body-m">This project currently doesn't have any tasks
        available.
      </div>
      <div *ngFor="let task of ($tasks | async)">
        <triplo-task-card [task]="task"></triplo-task-card>
      </div>
    </div>
    <div class="comments tui-space-vertical-10">
      <h5 class="tui-text_h6 tui-space_vertical-5">Comments</h5>
      <div class="comment-reaction tui-space_vertical-5">
        <triplo-comment-form (handleSubmit)="createComment($event)"></triplo-comment-form>
      </div>

      <div *ngFor="let comment of (comments$ | async)">
        <triplo-comment [comment]="comment" [user]="user$"></triplo-comment>
      </div>

      <div *ngIf="(comments$ | async)?.length === 0" class="tui-text_body-m">No comments
        yet.
      </div>
    </div>
  </div>
</div>
