<section class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <router-outlet></router-outlet>
    </div>
    <div class="row">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First name</th>
          <th scope="col">Last Name</th>
          <th scope="col">View</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ user.name.first }}</td>
          <td>{{ user.name.last}}</td>
          <td><a [routerLink]="['/Users/'+ user.id]"><i class="bi bi-eye"></i></a></td>
          <td><a [routerLink]="['/Users/'+ user.id + '/edit']"><i class="bi bi-pen"></i></a></td>
          <td><a (click)="deleteUser(user.id)"><i class="bi bi-trash"></i></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>


