<section class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <div class="row">
      <div class="d-flex justify-content-between pb-3">
        <h2>Users</h2>
        <h2 *ngIf="!outlet.isActivated">
          <a routerLink="create" class="btn btn-primary">
            Create User
          </a>
        </h2>
      </div>
      <div *ngIf="!users">
        <h5 class="name">No Users Found!</h5>
      </div>
      <table *ngIf="users" class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">View</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ user.username}}</td>
          <td>{{ user.email}}</td>
          <td><a [routerLink]="['/Users/'+ user._id]"><i class="bi bi-eye"></i></a></td>
          <td><a [routerLink]="['/Users/'+ user._id + '/edit']"><i class="bi bi-pen"></i></a></td>
          <td><a (click)="deleteUser(user._id)"><i class="bi bi-trash"></i></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>


