<section id="hero" class="hero about d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <div class="row gx-0">
          <div class="content">
            <h3>About The User</h3>
            <h2>The Use Cases for the Application!</h2>
            <ol>
              <li>
                Een gebruiker krijgt projecten aanbevolen op basis van de open-source projecten die de gebruiker
                heeft geliket, zodat hij nog meer projecten binnen zijn interesse kan ontdekken.
              </li>
              <li>
                Een gebruiker kan een applicatie schrijven om mee te werken aan een project, zodat hij kan
                bijdragen
                aan projecten met zijn interesse.
              </li>
              <li>
                Een gebruiker kan een reactie achterlaten op een project zodat de gebruiker zijn mening kan
                achterlaten.
              </li>
              <li>
                Een gebruiker kan reageren op een reactie op een project, zodat hij zijn mening over de reactie kan
                achterlaten.
              </li>
              <li>
                Een gebruiker van een project kan een taak die hoort bij het project aan te maken zodat het
                duidelijk
                is waar ze aan het werken zijn.
              </li>
              <li>
                Een gebruiker van een project wil een sub taak aankunnen maken bij een bestaande taak zodat hij de
                taak verder kan opsplitsen.
              </li>
              <li>
                Een gebruiker wil een taak aan zichzelf kunnen toewijzen zodat het duidelijk is wie wat doet.
                Triplo has a couple of
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <img src="assets/about.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>

