<div class="d-flex align-items-center tui-space_vertical-10">
  <div class="tui-container tui-container_adaptive">
    <div class="row">
      <div class="justify-content-center">
        <span class="tui-text_body-l tui-space_vertical-2">About The User</span>
        <h4 class="tui-text_h4">The Use Cases of the Application!</h4>
        <div class="row">
          <div class="content">
            <ul class="tui-list tui-list__large">
              <ol class="tui-list tui-list_ordered">
                <li class="tui-list__item">As a Logged-in User, I want to view my own profile, so that I can view
                  information on my profile
                </li>
                <li class="tui-list__item">As a Logged-in User, I want to edit my own profile, so that I can alter my
                  details
                </li>
                <li class="tui-list__item">As a Logged-in User, I want to view a list of they received, so that I can
                  accept or deny the invite
                </li>
                <li class="tui-list__item">As a Logged-in User, I want to be able to comment, so that I leave my opinion
                  on a project
                </li>
                <li class="tui-list__item">As a Logged-in User, I want to be able to reply to comment, so that I can
                  interact in a discussion
                </li>
                <li class="tui-list__item">As a Logged-in User, I want to delete my own comment, so that I can remove
                  comments made by accident
                </li>
                <li class="tui-list__item">As a Logged-in User, I want to update my own comment, so that I can remove
                  typos made in the comment
                </li>
                <li class="tui-list__item">As a Logged-in User, I want to accept invites, so that I can become a member
                  of a project
                </li>
                <li class="tui-list__item">As a Logged-in User, I want to reject invites, so that I don't have to be a
                  member of the project
                </li>
                <li class="tui-list__item">As a User, I view a list of projects they participate on the profile page, so
                  that I can learn more about the member
                </li>
                <li class="tui-list__item">As a User, I want to view another users profile, so that they can learn more
                  about the user
                </li>
                <li class="tui-list__item">As a User, I want to view a list of projects they liked on the profile page,
                  so I can
                  learn more about a users interests
                </li>
                <li class="tui-list__item">As a User, I want to view a list of projects they liked on the profile page,
                  so I can
                  learn more about a users interests
                </li>
                <li class="tui-list__item">As a User, I want to view a list of projects, to be able to explore different
                  open source projects
                </li>
                <li class="tui-list__item">As the owner of a project, I want to have a secured access page, so that only
                  I can manage the project
                </li>
                <li class="tui-list__item">As the owner of a project, I want to be able to invite new members, so that
                  new members can participate
                </li>
                <li class="tui-list__item">As the owner of a project, I want to be able to remove members, so that I can
                  remove malicious members
                </li>
                <li class="tui-list__item">As the owner of a project, I want to be able to update the project, so that I
                  can change the details about the project
                </li>
                <li class="tui-list__item">As the owner of a project, I want to be able to delete the project, so that a
                  unused project no longer exists
                </li>
                <li class="tui-list__item">As a member of a project, I want to be able to create a new task, so that the
                  team can keep track of stuff we're working on
                </li>
                <li class="tui-list__item">As a member of a project, I want to be able to edit a (sub)task, so that I
                  can
                  make changes to it
                </li>
                <li class="tui-list__item">As a member of a project, I want to be able to delete a (sub)task, so that
                </li>
                <li class="tui-list__item">As a member of a project, I want to assign a user to a (sub)task, so that
                  it's clear who is doing what
                </li>
                <li class="tui-list__item">As a member of a project, I want to assign a user to a (sub)task, so that
                  it's clear who is doing what
                </li>
                <li class="tui-list__item">As a member of a project, I want to status of the (sub)task, so that the
                  status of the task is clear
                </li>
                <li class="tui-list__item">As a member of a project, I want to be able to create a new subtask, so that
                  the team can improve the granularity of the task
                </li>
              </ol>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
