<div class="tui-island tui-col_stretch">
  <a
    class="w-100"
    tuiIsland
    size="l"
    routerLink="{{project._id}}"
    [hoverable]="true"
  >

    <div class="d-inline-flex text-muted">

    </div>
    <h3 class="title title_size_s">{{project.name}}</h3>

    <p class="text">
      {{project.description}}
    </p>

    <div class="likes tui-space_vertical-3">
      <a tuiLink class="mx-0"><i class="bi-hand-thumbs-up-fill"></i> {{project.LikeCount}}</a>
      <a tuiLink class="tui-space_horizontal-10"><i class="bi-hand-thumbs-down-fill"></i>{{project.DislikeCount}}</a>
    </div>
    <div class="tui-island__paragraph tui-island__category d-inline-flex" *ngFor="let tag of project.Tags;">
      <a class="tui-space_left-2" tuiTag [autoColor]="true" size="m" [value]="tag"></a>
    </div>
  </a>
</div>



