<ng-template
  (tuiDialogChange)="close()"
  [tuiDialogOptions]="{size: 'l'}"
  [(tuiDialog)]="open"
>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" #taskForm="ngForm">
    <h3 *ngIf="createMode" class="tui-form__header tui-form__header_margin-top_none">Create Task</h3>
    <h3 *ngIf="!createMode" class="tui-form__header tui-form__header_margin-top_none">Edit Task</h3>
    <tui-input
      tuiAutoFocus
      tuiHintContent="The Name of the task needs to be 0-100 chars"
      [tuiTextfieldCleaner]="true"
      [tuiTextfieldCustomContent]="f['name'].valid ? success : ''"
      [maxlength]="100"
      class="tui-space_top-3"
      formControlName="name"
      ngDefaultControl
    >
      Task name
      <span class="tui-required"></span>
    </tui-input>
    <ng-template #success>
      <tui-svg
        src="tuiIconCheckLarge"
        class="success tui-space_left-3"
      ></tui-svg>
    </ng-template>
    <tui-error
      formControlName="name"
      [error]="[] | tuiFieldError | async"
    ></tui-error>

    <tui-text-area
      tuiHintContent="Describe your task!"
      class="tui-space_top-3"
      [maxlength]="1000"
      [expandable]="true"
      [tuiTextfieldLabelOutside]="true"
      [tuiTextfieldCustomContent]="f['description'].valid ? success : ''"
      formControlName="description"
    >
      Task Description
      <span class="tui-required"></span>
    </tui-text-area>
    <ng-template #success>
      <tui-svg
        src="tuiIconCheckLarge"
        class="success tui-space_left-3"
      ></tui-svg>
    </ng-template>
    <tui-error
      formControlName="description"
      [error]="[] | tuiFieldError | async"
    ></tui-error>

    <tui-select
      *ngIf="!createMode"
      formControlName="status"
      class="tui-space_top-3"
    >
      Status
      <input
        tuiTextfield
        placeholder="Select the status"
      />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="status"
      ></tui-data-list-wrapper>
    </tui-select>


    <div class="tui-form__buttons d-flex justify-content-between">
      <button
        [disabled]="taskForm.invalid || loading"
        [showLoader]="loading"
        tuiButton
        size="l"
        type="submit"
        class="tui-form__button"
      >
        Submit
      </button>
      <button
        routerLink="../"
        tuiButton
        type="button"
        appearance="flat"
        size="l"
        class="tui-form__button"
      >
        Cancel
      </button>
    </div>
  </form>
</ng-template>
