<section class="d-flex align-items-center" [ngClass]="createMode ? 'tui-space_vertical-4' : 'min-vh-100'" >
  <div class="tui-container tui-container_adaptive">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" #taskForm="ngForm">
      <div class="tui-row tui-row_sme">
        <div class="tui-col_8">
          <h3 *ngIf="createMode" class="tui-form__header tui-form__header_margin-top_none">Create Task</h3>
          <h3 *ngIf="!createMode" class="tui-form__header tui-form__header_margin-top_none">Edit Task</h3>
          <div class="tui-form__row">
            <tui-input
              tuiHintContent="The Name of the task needs to be 4-20 chars"
              [tuiTextfieldCleaner]="true"
              [tuiTextfieldCustomContent]="f['name'].valid ? success : ''"
              [maxlength]="20"
              class="tui-space_top-3"
              formControlName="name"
              ngDefaultControl
            >
              Task name
              <span class="tui-required"></span>
            </tui-input>
            <ng-template #success>
              <tui-svg
                src="tuiIconCheckLarge"
                class="success tui-space_left-3"
              ></tui-svg>
            </ng-template>
            <tui-error
              formControlName="name"
              [error]="[] | tuiFieldError | async"
            ></tui-error>

            <tui-text-area
              tuiHintContent="Describe your task!"
              class="tui-space_top-3"
              [maxlength]="1000"
              [expandable]="true"
              [tuiTextfieldLabelOutside]="true"
              [tuiTextfieldCustomContent]="f['description'].valid ? success : ''"
              formControlName="description"
            >
              Task Description
              <span class="tui-required"></span>
            </tui-text-area>
            <ng-template #success>
              <tui-svg
                src="tuiIconCheckLarge"
                class="success tui-space_left-3"
              ></tui-svg>
            </ng-template>
            <tui-error
              formControlName="description"
              [error]="[] | tuiFieldError | async"
            ></tui-error>

            <tui-select
              *ngIf="subtaskMode"
              formControlName="status"
              class="tui-space_top-3"
            >
              Status
              <input
                tuiTextfield
                placeholder="Select the status"
              />
              <tui-data-list-wrapper
                *tuiDataList
                [items]="status"
              ></tui-data-list-wrapper>
            </tui-select>

          </div>

          <div class="tui-form__buttons">
            <button
              [disabled]="taskForm.invalid || loading"
              [showLoader]="loading"
              tuiButton
              size="l"
              type="submit"
              class="tui-form__button"
            >
              Submit
            </button>
            <button
              routerLink="../"
              tuiButton
              type="button"
              appearance="flat"
              size="l"
              class="tui-form__button"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
