<ng-template
  (tuiDialogChange)="close()"
  [tuiDialogOptions]="{size: 'l'}"
  [(tuiDialog)]="open"
>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" #taskForm="ngForm">
    <div class="d-flex justify-content-between tui-space_vertical-4">
      <h3 *ngIf="createMode" class="tui-form__header tui-form__header_margin-top_none">Create {{taskMessage}}</h3>
      <h3 *ngIf="!createMode" class="tui-form__header tui-form__header_margin-top_none">Edit {{taskMessage}}</h3>
      <a
        *ngIf="!createMode"
        size="s"
        (click)="deleteTask()"
        tuiIconButton
        icon="tuiIconTrash2Large"
        type="button"
        [tuiHint]="delete_task_tooltip"
        appearance="flat"
        class="tui-space_right-3 tui-space_bottom-3"
      >
        <ng-template #delete_task_tooltip>
          <div>Delete {{taskMessage}}</div>
        </ng-template>
      </a>
    </div>
    <tui-input
      tuiAutoFocus
      tuiHintContent="The Name of the task needs to be 0-100 chars"
      [maxlength]="100"
      class="tui-space_top-3"
      formControlName="name"
      ngDefaultControl
    >
      Task name
      <span class="tui-required"></span>
    </tui-input>
    <tui-error
      formControlName="name"
      [error]="[] | tuiFieldError | async"
    ></tui-error>

    <tui-text-area
      tuiHintContent="Describe your task!"
      class="tui-space_top-3"
      [maxlength]="1000"
      [expandable]="true"
      [tuiTextfieldLabelOutside]="true"
      formControlName="description"
    >
      Task Description
      <span class="tui-required"></span>
    </tui-text-area>
    <tui-error
      formControlName="description"
      [error]="[] | tuiFieldError | async"
    ></tui-error>

    <tui-select
      formControlName="status"
      class="tui-space_top-3"
      [readOnly]="createMode"
      [focusable]="!createMode"
    >
      Status
      <input
        tuiTextfield
        placeholder="Select the status"
      />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="status"
      ></tui-data-list-wrapper>
    </tui-select>

    <tui-input
        formControlName="username"
        class="tui-space_top-3"
      >
        Username
        <input
          tuiTextfield
          placeholder="Enter the username"
        />
        <tui-data-list *tuiDataList>
          <button
            *ngFor="let user of users"
            tuiOption
            (click)="onSelected(user)"
            [value]="user.username"
          >
            {{ user.username }}
            <tui-avatar
              size="xs"
              [text]="user.username"
            ></tui-avatar>
          </button>
        </tui-data-list>
      </tui-input>


    <div class="tui-form__buttons d-flex justify-content-between">
      <button
        [disabled]="taskForm.invalid || loading"
        [showLoader]="loading"
        tuiButton
        size="l"
        type="submit"
        class="tui-form__button"
      >
        Submit
      </button>
      <button
        (click)="close()"
        tuiButton
        type="button"
        appearance="flat"
        size="l"
        class="tui-form__button"
      >
        Cancel
      </button>
    </div>
  </form>
</ng-template>
