<div class="tui-space_vertical-3">
  <tui-island class="tui-space_vertical-1">
    <div class="header-comment text-muted">
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <tui-tag size="m" status="primary" value="{{comment.username}}"></tui-tag>
          <span class="tui-space_horizontal-2">{{comment.created | date:'short'}}</span>
          <div *ngIf="comment.updated">(edited)</div>
        </div>
        <div class="comment-triple-dots absolute">
          <tui-hosted-dropdown
            #dropdown
            [content]="content"
            [(open)]="dropdownOpen"
          >
            <button
              tuiIconButton
              size="xs"
              appearance="flat"
              icon="tuiIconMoreVer"
              type="button"
              [pseudoHover]="dropdown.open"
            ></button>
          </tui-hosted-dropdown>
          <ng-template
            #content
            let-activeZone>
            <tui-data-list
              tuiDataListDropdownManager
              [tuiActiveZoneParent]="activeZone"
            >
              <button (click)="editComment()" tuiOption>
                <tui-svg src="tuiIconEdit"></tui-svg>
                Edit
              </button>
              <button tuiOption>
                <tui-svg src="tuiIconTrash"></tui-svg>
                Delete
              </button>
            </tui-data-list>
          </ng-template>
        </div>
      </div>

    </div>
    <div class="message-comment tui-space_vertical-3">
      <p *ngIf="!editMode">
        {{comment.message}}
      </p>
      <p *ngIf="editMode">
        <triplo-comment-form (handleSubmit)="updateComment($event)" (handleCancel)="cancelEdit()"
                             [start_message]="comment.message" tooltip="Edit comment"
                             submitLabel="Update"></triplo-comment-form>
      </p>
    </div>

    <div class="d-inline-flex text-muted">
      <div class="likes">
        <a tuiLink class="mx-0"><i class="bi-hand-thumbs-up-fill"></i> {{comment.likeCount}}</a>
        <a tuiLink class="mx-2"><i class="bi-hand-thumbs-down-fill"></i>{{comment.dislikeCount}}</a>
      </div>
      <div class="reply">
        <a tuiLink (click)="reply()">Reply</a>
      </div>
    </div>

  </tui-island>
  <div class="replies" *ngIf="comment.replyCount > 0">
    <button (click)="showReplies()" tuiButton size="xs" appearance="whiteblock-active">
      <i *ngIf="show" class="bi bi-caret-down-fill"></i>
      <i *ngIf="!show" class="bi bi-caret-up-fill"></i>
      Show Replies
    </button>
  </div>

  <div class="reply-box tui-space_left-10 tui-space_vertical-3">
    <div *ngIf="showReplyForm">
      <triplo-comment-form (handleSubmit)="createReply($event)" (handleCancel)="cancelReply()"></triplo-comment-form>
    </div>

    <div *ngIf="show">
      <triplo-comment [comment]="reply.replies" *ngFor="let reply of (replies$ | async)"></triplo-comment>
    </div>
  </div>
</div>
