<div class="d-flex align-items-center tui-space_vertical-10">
  <div class="tui-container tui-container_adaptive">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <span class="tui-text_body-l tui-space_vertical-2">About The Project</span>
        <h4 class="tui-text_h4">A Platform for the Open Source Community!</h4>
        <div class="row">
          <div class="content">
            <p class="tui-text_body-m">
              Triplo is the platform for exploring and joining open-source projects. Keep up with your favorite
              open-source
              projects and find new interesting projects. Work together as a team and keep track of the tasks.

              Developed By Laurens Weterings 2189413
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <img src="assets/about.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</div>
