<section id="hero" class="hero about d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <div class="row gx-0">
          <div class="content">
            <h3>About The Project</h3>
            <h2>A Platform for the Open Source Community</h2>
            <p>
              Triplo is a platform to explore new open-source projects. Users can join and explore open-source projects
              which
              they can apply to join. Projects contain tasks to show users what they are currently working on.
            </p>
          </div>

        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <img src="assets/about.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>

