<div>
  <router-outlet></router-outlet>
</div>

<div class="tui-space_vertical-4" *ngIf="(project$ | async) as project">
  <div class="d-flex align-content-center justify-content-between">
    <h5 class="tui-text_h5">Members</h5>
    <a *ngIf="owner && owner._id === userId && managementMode" tuiButton size="s" iconRight="tuiIconUserPlus"
       class="tui-space_vertical-0 tui-space_horizontal-3 align-self-center"
       routerLink="./Invite">
      Invite Members</a>
  </div>


  <tui-island class="tui-space_vertical-2" *ngIf="owner && !managementMode">
    <div class="tui-island__content">
      <div class="d-flex">
        <tui-avatar
          text="{{owner.username}}"
          [autoColor]="true"
          size="s"
        ></tui-avatar>

        <a tuiLink
           *ngIf="userId === owner._id"
           routerLink="/Profile"
           class="tui-space_vertical-0 tui-space_horizontal-3 align-self-center">@{{owner.username}}
          <tui-badge
            status="primary"
            value="Owner"
            class="align-self-center"
          >
            <tui-svg src="tuiIconAward"></tui-svg>
          </tui-badge>
        </a>
        <a tuiLink
           *ngIf="userId !== owner._id"
           routerLink="/Profile/{{owner._id}}"
           class="tui-space_vertical-0 tui-space_horizontal-3 align-self-center">@{{owner.username}}
          <tui-badge
            status="primary"
            value="Owner"
            class="align-self-center"
          >
            <tui-svg src="tuiIconAward"></tui-svg>
          </tui-badge>
        </a>
      </div>
    </div>
  </tui-island>
  <div *ngIf="project.members && project.members.length < 1 && managementMode">
    <p class="tui-text_body-l">No Members yet.</p>
  </div>
  <tui-island class="tui-space_vertical-2" *ngFor="let member of project.members">
    <div class="tui-island__content">
      <div class="d-flex">
        <tui-avatar
          text="{{member.username}}"
          [autoColor]="true"
          size="s"
        ></tui-avatar>

        <a tuiLink
           *ngIf="userId === member._id"
           routerLink="/Profile"
           class="tui-space_vertical-0 tui-space_horizontal-3 align-self-center">@{{member.username}}</a>
        <a tuiLink
           *ngIf="userId !== member._id"
           routerLink="/Profile/{{member._id}}"
           class="tui-space_vertical-0 tui-space_horizontal-3 align-self-center">@{{member.username}}</a>
      </div>

      <a *ngIf="owner && owner._id === userId && managementMode"
         (click)="removeMember(member)"
         tuiIconButton
         type="button"
         size="s"
         icon="tuiIconTrash"
         [tuiHint]="remove_member_tooltip"
      >
        <ng-template #remove_member_tooltip>
          <div>Remove Member</div>
        </ng-template>
      </a>
    </div>

  </tui-island>

</div>

