<div class="d-flex align-items-center min-vh-100">
  <div class="tui-container tui-container_adaptive">
    <div class="row">
      <div class="justify-content-center col-lg-8">
        <h2 class="tui-text_h2">The Open Source Community Needs People Like You!</h2>
        <h5 class="tui-text_h5 tui-space_vertical-6">Build Experience and Knowledge by Contributing to Open Source
          projects</h5>
        <div class="tui-space_top-10">
          <button tuiButton iconRight="tuiIconArrowRightLarge" routerLink="About">
            Learn more
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



