<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1>The Open Source Community Needs People Like You</h1>
          <h2>Build Experience and Knowledge by Contributing to Open Source projects</h2>
          <div>
            <div class="text-center text-lg-start">
              <a routerLink="about" class="btn btn-get-started d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Learn More</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>
