<div *ngIf="(likes$ | async) as likes">
  <h5 class="tui-text_h5">Liked</h5>
  <p *ngIf="likes.length < 1" class="tui-text_body-m">No invites received yet.</p>
  <tui-island class="tui-space_vertical-2 justify-content-between d-flex" *ngFor="let like of likes">
    <div class="invite content">
      <div class="align-content-center tui-text_h6">
        <a tuiLink target="_blank" routerLink="/Projects/{{like.projectId}}">
          {{like.projectName}}
        </a>
      </div>
    </div>
  </tui-island>
</div>
