<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <tui-input
      [readOnly]="userId === null"
      formControlName="message"
    >
      {{tooltip}}
    </tui-input>

    <div class="tui-space_vertical-4 d-flex justify-content-end" *ngIf="!form.invalid || userId === null">
      <button
        (click)="submitCancel()"
        tuiButton
        type="button"
        appearance="flat"
        size="s"
        class="tui-form__button"
      >
        Cancel
      </button>
      <button
        [disabled]="form.invalid"
        tuiButton
        size="s"
        type="submit"
        class="tui-form__button"
      >
        {{submitLabel}}
      </button>
    </div>
</form>
